*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  font-family: Arial, "Noto Sans TC", "Noto Sans", sans-serif;
  color: #222222;
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  height: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #aaaaaa;
  &:hover {
    background-color: #adadad;
  }
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
